<h1>Add new driver</h1>
<form>
    <div>
        <label>First name:</label>
        <input type="text" id="firstname" autofocus>
    </div>
    <div>
        <label>First name:</label>
        <input type="text" id="lastname">
    </div>
    <button type="submit">Save driver</button>
</form>

<script>
    const {
        ipcRenderer
    } = require('electron');

    const form = document.querySelector('form');
    form.addEventListener('submit', submitForm);

    function submitForm(e) {
        e.preventDefault();
        const firstname = document.querySelector('#firstname').value;
        const lastname = document.querySelector('#lastname').value;
        const driver = new Object();
        driver.firstname = firstname;
        driver.lastname = lastname;
        var message = JSON.stringify(driver);
        console.log('driver-view sends driver=' + message);
        ipcRenderer.send('driver:add', message);
    }
</script>